<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Register</h3>

            <form [formGroup]="thisForm" (ngSubmit)="onFormSubmit(thisForm.value)">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Firstname" formControlName="firstname" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="f.firstname.touched && f.firstname.errors?.required">Required</span>
                        <span *ngIf="f.firstname.touched && f.firstname.errors?.maxlength">Maximum of 50 characters</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Lastname" formControlName="lastname" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="f.lastname.touched && f.lastname.errors?.required">Required</span>
                        <span *ngIf="f.lastname.touched && f.lastname.errors?.maxlength">Maximum of 50 characters</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="f.email.touched && f.email.errors?.required">Required</span>
                        <span *ngIf="f.email.touched && f.email.errors?.email">Invalid email</span>
                        <span *ngIf="f.email.touched && f.email.errors?.maxlength">Maximum of 256 characters</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="f.password.touched && f.password.errors?.required">Required</span>
                        <span *ngIf="f.password.touched && f.password.errors?.minlength">Minimum 6 characters</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required">Required</span>
                        <span *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.mustMatch">Passwords must match</span>
                    </mat-error>
                </mat-form-field>

                <div class="button-row">
                    <button type="submit" [disabled]="!thisForm.valid" mat-raised-button color="primary"><mat-icon>done</mat-icon></button>
                </div>

            </form>
        </div>
    </div>
</div>